.tasks-grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;

    color: var(--primary-text-color);
}

.task-completed {
    text-decoration: line-through;
    font-weight: normal;
    opacity: 0.8;
}

.task-list-heading-container,
.task-list-row-container,
.create-task-row {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100px 4fr 0.5fr 1fr;

    color: var(--primary-text-color);
}

.task-list-heading-container {
    overflow: hidden;
}

.task-list-heading {
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: var(--primary-color-lighter);
}

.task-list-heading:first-child,
.task-list-heading:nth-child(3) {
    text-align: center;
}

.task-list-row-container {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    transition: 0.3s background-color;

    &:has(.active) {
        background-color: rgb(245, 245, 245);
    }
}

.task-list-row {
    & p {
        margin: 10px 0;
        font-weight: bold;
    }
}

.task-list-row:has(input[type='checkbox']) {
    display: grid;
    align-items: start;
    justify-items: center;
    padding: 10px 0;
    accent-color: var(--primary-color);
    border-radius: 10px;

    & input {
        margin: 4px;
        cursor: pointer;
    }
}

.task-list-row:nth-child(3) {
    text-align: center;
}

.create-task-row :last-child {
    opacity: 0.8;
    font-weight: bold;
}

.create-task-row :first-child {
    display: grid;

    & button {
        margin: 0 20px;
        padding: 0;
        font-weight: normal;
        font-size: 2rem;
        background-color: transparent;
        border: none;
        opacity: 0.6;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.2s ease-in;

        &:hover {
            background-color: var(--primary-color-lighter);
        }
    }
}

.task-title-div {
    display: grid;
    grid-template-columns: 1fr 80px;
    align-items: center;

    & p {
        flex: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.task-buttons-div {
    display: flex;
    justify-content: space-between;

    & button {
        opacity: 0.6;
        display: flex;
        background-color: transparent;
        padding: 3px;
        margin: 0;
        border: none;
        border-radius: 50%;

        cursor: pointer;
        transition: opacity 0.3s, background-color 0.3s;

        &:hover {
            opacity: 1;
            background-color: var(--primary-color-lighter);
        }
    }
}

.task-desc-div {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;

    & p {
        margin: 0;
        font-weight: normal;
        font-size: 0.9rem;
        margin-bottom: 2px;
    }

    & p:last-child {
        margin-bottom: 10px;
    }
}

.edit-project-button {
    opacity: 0.6;
    background-color: transparent;
    height: 26px;
    padding: 3px;
    margin-left: 5px;
    border: none;
    border-radius: 50%;

    cursor: pointer;
    transition: opacity 0.3s, background-color 0.3s;

    &:hover {
        opacity: 1;
        background-color: var(--primary-color-lighter);
    }
}